<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/admin">ADD BLOGS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/view-data">VIEW</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/view-enquiry">Enquiries</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="/admin/subscribe">Subscribe</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">CR</a>
  </li>
  
</ul>